body {
    font-family: Helvetica, Arial;
    /*background-color: #779ECB;*/
    background-color: #FDFDFD;
}

/* main structure */
#headerContainer {
    max-width: 960px;
    margin: 0 auto;
}

#header {
    display: block;
    margin: 10px auto;
}

#mainContainer {
    max-width: 920px;
    background-color:rgba(192,192,192,0.5);
    margin: 0 auto;
    padding: 0px 20px 20px 20px
}

.page {
    display: none;
}

.link {
    display: none;
}

p, span, a {
    color: #151515;
}

/* headers */
h2 {
    font-style: italic;
    font-size: 160%;
    color: #151515;
    padding: 20px 0px;
    margin: 0;
}

h3 {
    font-style: italic;
    font-size: 130%;
    color: #151515;
    padding: 10px 0px;
    margin: 0;
}

/* navigation */
#navContainer {
    background-color: #FFB48C;
    padding: 10px 0px 10px 30px;
    margin: 5px 0px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-right: 35px;
}

#nav a {
    font-size: 160%;
    font-family: monospace;
    text-decoration: none;
}

#nav a:hover {
    color: #FDFDFD;
}

/* info bar */
#infoContainer {
    display: none;
    background-color: #FFE58C;
    padding: 10px 0px 10px 30px;
    margin-bottom: 5px;
}

#infoContainer span {
    font-family: monospace;
    font-size: 160%;
}

#usernameDisplay {
    margin-right: 5px;
}

#logout a {
    text-decoration: none;
    font-size: 80%;
}

#logout a:hover {
    color: #FDFDFD;
}

/* forms */
input {
    margin-bottom: 8px;
}

select {
    margin-bottom: 8px;
}

/* decks */
#deckList {
    max-height: 370px;
    overflow-y: auto;
}

.deck {
    float: left;
    margin: 0px 30px 30px 0px;
    padding-bottom: 15px;
    background-color: #FDFDFD;
}

.deckImg {
    padding: 20px 30px 20px 30px;
}

.deck p {
    text-align: center;
    padding: 0px 10px 5px 10px;
    margin: 0px;
}

.deckArchetype {
    font-style: italic;
}

/* matches */
#matchList {
    max-height: 490px;
    overflow-y: auto;
}

.match {
    background-color: #FDFDFD;
    height: 68px; /* component image height + padding */
    max-width: 920px;
    line-height: 48px;
    padding: 0;
    margin-bottom: 5px;
}

.match img {
    vertical-align: middle;
}

.matchSeason {
    background-color: #FDFDFD;
    padding: 10px;
    margin-bottom: 10px;
}

.matchElement {
    padding: 5px;
    margin: 0;
}

.matchVictory {
    margin-left: 5px;
    margin-right: 5px;
}

.matchHero {
    margin-left: 20px;
}
.matchOppHero {
    margin-right: 20px;
}

.matchDescription {
    font-size: 110%;
    font-style: italic;
}

/* statistics */
#statistics {
    background-color: #FDFDFD;
    padding: 10px;
    margin: 0;
}