body {
    font-family: Helvetica, Arial;
    background-color: #779ECB;
}

/* main structure */
#headerContainer {
    max-width: 960px;
    margin: 0 auto;
}

#header {
    display: block;
    margin: 10px auto;
}

#mainContainer {
    max-width: 920px;
    background-color:rgba(192,192,192,0.5);
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
}

.page {
    display: none;
}

/* headers */
h2 {
    font-style: italic;
    font-size: 160%;
    color: #151515;
    padding: 20px 0px;
    margin: 0;
}

h3 {
    font-style: italic;
    font-size: 130%;
    color: #151515;
    padding: 10px 0px;
    margin: 0;
}

/* navigation */
#navContainer {
    background-color: #FFB48C;
    padding: 10px 0px 10px 30px;
    margin: 5px 0px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-right: 35px;
}

#nav a {
    font-size: 160%;
    color: #151515;
    font-family: monospace;
    text-decoration: none;
}

#nav a:hover {
    color: white;
}

/* info bar */
#infoContainer {
    display: none;
    background-color: #FFE58C;
    padding: 10px 0px 10px 30px;
    margin-bottom: 5px;
}

#infoContainer span {
    font-family: monospace;
    font-size: 160%;
    color: #151515;
}

#usernameDisplay {
    margin-right: 5px;
}

#logout {
    margin-right: 35px;
}

#logout a {
    text-decoration: none;
    font-size: 80%;
    color: #151515;
}

#logout a:hover {
    color: white;
}

/* forms */
input {
    margin-bottom: 8px;
}

select {
    margin-bottom: 8px;
}

/* decks */
#deckList {
    overflow: hidden;
}

.deck {
    float: left;
    margin: 0px 30px 30px 0px;
    padding-bottom: 15px;
    background-color: white;
}

.deckImg {
    padding: 20px 30px 20px 30px;
}

.deck p {
    color: #151515;
    text-align: center;
    padding: 0px 10px 5px 10px;
    margin: 0px;
}

.deckArchetype {
    font-style: italic;
}

/* matches */
.match {
    background-color: white;
}

/* statistics */
#statistics {
    background-color: white;
    padding: 10px;
}